:root {
  --bg: #2D2D2C;
  --greyLight: #373737;
  --greyDark: #1C1C1C;
  --text: #fff;
  --greenBright: #07DD80;
  --greenLight: #56FFB5;
  --greenDark: #26342E;
  --red: #FF4D4D;
  --margin: 16px;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&family=Lexend:wght@300;400;700;800&display=swap');

html {
  background-color: var(--bg);
  color: var(--text);
}

.App {
  max-width: 1200px;
  margin: auto;
}

header {
  padding-top: 28px;
}

.title {
  display: inline-block;
  margin-top: 54px;
  padding-left: var(--margin);
  padding-right: 10px;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -0.5%;
  border-bottom: 2px solid var(--greenBright);
}

.dialogue {
  background-color: var(--greyLight);
  margin-left: var(--margin);
  margin-right: var(--margin);
  border-radius: 8px;
}

.dialogue-title {
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--greyDark);
  border-radius: 8px 8px 0 0;
}

.dialogue-content {
  padding: 30px 13px 25px 13px;
}

.dialogue-title{ padding: 8px 13px }

.text-input {
  display: block;
  padding: 0;
  font-size: 24px;
  color: var(--text);
  font-family: 'Lexend', sans-serif;
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background-color: transparent;
}

.swipe-to-add {
  float: right;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: -5.5%;
  text-align: right;
  margin-right: calc(var(--margin) + 5px);
  margin-top: 5px;
  border-top: 1px solid white;
}

.plus {
  margin: auto;
  font-size: 64px;
  line-height: 32px;
  text-align: center;
  margin-top: -10px;
  padding-bottom: 10px;
}

.button {
  position: fixed;
  bottom: 10vh;
  margin: var(--margin);
  padding: 16px 0 20px 0;
  width: calc(100% - var(--margin)*2);
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  border-radius: 8px;
}