:root {
  --bg: #2D2D2C;
  --greyLight: #373737;
  --greyDark: #1C1C1C;
  --text: #fff;
  --greenBright: #07DD80;
  --greenLight: #56FFB5;
  --greenDark: #26342E;
  --red: #FF4D4D;
  --redLight: #FF7070;
  --margin: 12px;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&family=Lexend:wght@300;400;700;800&display=swap');

html {
  background-color: var(--bg);
  color: var(--text);
}

.App {
  max-width: 1200px;
  margin: auto;
}

header {
  padding-top: 28px;
}

.title {
  display: inline-block;
  margin-top: 46px;
  padding-left: var(--margin);
  padding-right: 10px;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -0.5%;
  border-bottom: 2px solid var(--greenBright);
}

.dialogue {
  position: relative;
  background-color: var(--greyLight);
  margin-left: var(--margin);
  margin-right: var(--margin);
  border-radius: 8px;
  z-index: 10;
}

.dialogue-title {
  font-size: 26px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: var(--greyDark);
  border-radius: 8px 8px 0 0;
}

.dialogue-content {
  padding: 30px 13px 25px 13px;
}

.dialogue-title{ padding: 8px 13px }

.text-input {
  display: block;
  padding: 0;
  font-size: 24px;
  color: var(--text);
  font-family: 'Lexend', sans-serif;
  width: 100%;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background-color: transparent;
}

.swipe-to-add {
  position: relative;
  float: right;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: -5.5%;
  text-align: right;
  margin-right: calc(var(--margin) + 5px);
  margin-top: 5px;
  border-top: 1px solid white;
  transition: all 0.5s cubic-bezier(.05,.7,.36,1.01); 
}

.incorrect-password {
  color: var(--red);
  border-top: 1px solid var(--red); 
}

.plus {
  margin: auto;
  font-size: 64px;
  line-height: 32px;
  text-align: center;
  margin-top: -10px;
  padding-bottom: 10px;
}

.button {
  /* position: fixed;
  bottom: 10vh; */
  margin: var(--margin);
  /* padding: 16px 0 20px 0; */
  height: 67px;
  line-height: 64px;
  width: calc(100% - var(--margin)*2);
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  border-radius: 8px;
  transition: 0.5s all cubic-bezier(.17,.64,.39,.89);
}

.button-loading img {
  height: 50px;
  margin-top: 8px;
  animation: rotation 1.5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.par-select {
  margin-top: 24px;
  font-size: 24px;
}

.par-select-buttons {
  width: 100%;
  display: flex;
  margin: 16px 0 -12px 0;
}

.par-select-button {
  font-size: 34px;
  margin-right: 12px; 
  padding: 8px 0;
  font-weight: bold;
  text-align: center;
  background-color: var(--greyDark);
  border-radius: 6px;
  flex-grow: 1;
  transition: 0.3s all cubic-bezier(.17,.64,.39,.89);
}

.par-select-button:last-child { margin-right: 0 }

.summary-teams, .summary-holes {
  margin: 64px var(--margin) 0 var(--margin);
}

.small-heading {
  font-size: 20px;
  letter-spacing: -6%;
  margin-bottom: 12px;
}

.summary-team-item {
  font-size: 24px;
  letter-spacing: -3.5%;
  background-color: var(--greyLight);
  border-radius: 8px;
  padding: 10px 12px 15px 12px;
  margin-bottom: 16px;
}

.summary-hole-item {
  display: flex;
  background-color: var(--greyLight);
  border-radius: 8px;
  margin-bottom: 16px;
}

.summary-hole-item-number {
  width: 42px;
  text-align: center;
  line-height: 86px;
  font-size: 36px;
  font-weight: 500;
  background-color: var(--greyDark);
  border-radius: 8px 0 0 8px;
  padding: 9px 0;
}

.summary-hole-item-middle {
  margin-top: 14px;
}

.summary-hole-item-info {
  font-size: 22px;
  margin: 0 0 18px 12px;
}

.summary-hole-item-info:last-child {
  margin-bottom: 0;
}

.summary-hole-item-par {
  font-size: 42px;
  font-weight: 500;
  flex-grow: 1;
  text-align: right;
  padding-right: 16px;
  line-height: 96px;
}

.par-subscript {
  font-size: 16px;
  font-weight: 300;
  margin-right: 4px;
}

.hole-info {
  margin-top: 84px;
}

.hole-info-row {
  height: 34px;
  padding: 0 var(--margin);
  display: flex;
  border-bottom: 1px solid white;
}

.hole-info-row:first-child {
  border-top: 1px solid white;
}

.hole-info-label {
  font-size: 20px;
  letter-spacing: -6%;
  line-height: 34px;
}

.hole-info-segment {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  flex-grow: 1;
  text-align: right;
  line-height: 34px;
}

.score-controls {
  margin: 76px var(--margin) 0 var(--margin);
}

.score-control-item {
  display: flex;
  background-color: var(--greyLight);
  min-height: 64px;
  border-radius: 8px;
  margin-bottom: 18px;
}

.score-control-item-position {
  font-size: 24px;
  line-height: 64px;
  font-weight: bold;
  margin-left: 8px;
}

.score-control-item-name {
  font-size: 22px;
  line-height: 64px;
  margin-left: 12px;
}

.score-control-item-controls {
  display: flex;
  flex-grow: 1;
  justify-content: right;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  line-height: 64px;
  margin-right: 10px;
}

.score-control-item-plus, .score-control-item-minus {
  width: 42px;
  height: 42px;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
}

.score-control-item-plus {
  background-color: var(--red);
}

.score-control-item-minus {
  background-color: var(--greenBright);
}

.score-control-item-score {
  padding: 0 12px;
}

.scoreboard-container {
  margin: 72px var(--margin) 0 var(--margin);
}

.scoreboard-item {
  display: flex;
  height: 60px;
  line-height: 60px;
  font-size: 24px;
  letter-spacing: -3.5%;
  font-weight: 500;
  background-color: var(--greyLight);
  border-radius: 8px;
  padding: 0 12px;
  margin-bottom: 18px;
}

.scoreboard-item:first-child {
  background-color: var(--greenDark);
  color: var(--greenLight);
  box-shadow: rgba(2, 2, 2, 0.2) 0px 3px 8px 0px;
  font-weight: bold;
}

.scoreboard-item:last-child {
  color: var(--redLight);
  font-weight: bold;
}

.scoreboard-score {
  flex-grow: 1;
  text-align: right;
  font-size: 32px;
  font-weight: bold;
}

.game-setup-box {
  background-color: var(--greyLight);
  border-radius: 8px;
  padding-bottom: 5px;
  margin: 25vh var(--margin) 0 var(--margin);
}

.setup-box-text {
  font-size: 24px;
  padding: 8px var(--margin);
}

.hazard-banner {
  font-size: 24px;
  font-weight: bold;
  height: 42px;
  line-height: 42px;
  text-transform: uppercase; 
  margin-top: 8px;
  text-align: center;
}

.rules-handbook {
  position: relative;
  margin: 100px var(--margin) 0 var(--margin);
}

.rules-dropdown-button {
  display: flex;
  position: relative;
  height: 56px;
  line-height: 56px;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -3.5%;
  border-radius: 8px;
  background-color: var(--greyLight);
  justify-content: space-between;
  padding: 0 14px 0 10px;
  z-index: 2;
}

.rules-dropdown-content {
  position: relative;
  margin-top: -10px;
  padding-top: 10px;
  width: 100%;
  background-color: var(--greyDark);
  border-radius: 0 0 8px 8px;
  z-index: 1;
  height: 0px;
  /* display: none; */
  transition: all .4s cubic-bezier(.49,.66,.18,1.01);
}

.rules-content-item {
  display: flex;
  justify-content: space-between;
  height: 52px;
  border-top: 1px solid;
  border-color: var(--greyLight);
  padding: 0 10px;
  line-height: 52px;
  /* opacity: 0; */
  transition: height .4s cubic-bezier(.49,.66,.18,1.01), opacity .2s ease, transform 0.4s ease-in-out;
}

.rules-content-item:first-child {
  border-top: none
}

.rules-content-name {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: -3.5%;
}

.rules-content-penalty {
  font-size: 24px;
  font-weight: bold;
}

.rules-dropdown-button-triangle {
  transition: all .4s cubic-bezier(.49,.66,.18,1.01);
}